.label_center {
  font-family: "Open Sans",sans-serif;
	text-align: center;
}

.label_center_black {
  font-family: "Open Sans",sans-serif;
	color : black;
	font-size : 9pt;
	text-align : center;
}

.label_center_blu {
  font-family: "Open Sans",sans-serif;
	font-size: small;
	text-align: center;
	color: rgb(0, 0, 128);
}

.label_left_black {
  font-family: "Open Sans",sans-serif;
	color : black;
	font-size : 9pt;
	text-align : left;
}

.label_left_blu {
  font-family: "Open Sans",sans-serif;
	font-size: small;
	text-align: left;
	color: rgb(0, 0, 128);
}

.label_left_black_disabled {
  font-family: "Open Sans",sans-serif;
	font-size : 9pt;
	color: black;
	text-align : left;
  width: 40ch;
}

.label_left_black_enabled {
  font-family: "Open Sans",sans-serif;
	font-size : 9pt;
	color: black;
	text-align : left;
  width: 40ch;
}

.message_center_black {
  font-family: "Open Sans",sans-serif;
	color : black;
	font-size : 9pt;
	font-weight: bold;
	text-align : center;
}

.message_left_black {
  font-family: "Open Sans",sans-serif;
	color : black;
	font-size : 9pt;
	font-weight: bold;
	text-align : left;
}

.table_azure_background {
	background-color: rgb(153, 255, 255);
}

.table_grey_background {
	background-color: rgb(207, 207, 207);
}

.table_yellow_background {
	background-color: rgb(255, 255, 153);
}

.title_center_black_yellow_bg {
	background-color: #EEEEEE;
  font-family: "Open Sans",sans-serif;
	color : black;
	font-size : 9pt;
	font-weight: bold;
	text-align : center;
}
.parameterInputField {
  font-family: "Open Sans",sans-serif;
  font-size 100%;
  width: 400px;
}
