
.hcal_control_state { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
}

.hcal_control_Initial { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #2E2EFE;
	font-weight:bold;
}

.hcal_control_Initializing { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #CC2EFA;
	font-weight:bold;
}

.hcal_control_Halting { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #9E29C1;
	font-weight:bold;
}

.hcal_control_Exiting { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #666666;
	font-weight:bold;
}

.hcal_control_Halted { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #772390;
	font-weight:bold;
}


.hcal_control_Uninitialized { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #707070;
	font-weight:bold;
}

.hcal_control_Stopping { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #8719AC;
	font-weight:bold;
}

.hcal_control_Configuring { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #31D5D8;
	font-weight:bold;
}


.hcal_control_Configured { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #1FBFA5;
	font-weight:bold;
}


.hcal_control_Ready { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #6CC19C;
	font-weight:bold;
}


.hcal_control_Starting { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #7FCE24;
	font-weight:bold;
}


.hcal_control_Resuming { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #7FCE24;
	font-weight:bold;
}


.hcal_control_Running { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #00BF10;
	font-weight:bold;
}

.hcal_control_RunningDegraded { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #ff9900;
	font-weight:bold;
}

.hcal_control_Active { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #9BBF52;
	font-weight:bold;
}


.hcal_control_Enabled { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #9BBF52;
	font-weight:bold;
}


.hcal_control_Pausing { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #FF9E00;
	font-weight:bold;
}


.hcal_control_Paused { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #FF8000;
	font-weight:bold;
}

.hcal_control_Recovering { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #9F8D00;
	font-weight:bold;
}

.hcal_control_Resetting { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #9800E4;
	font-weight:bold;
}

.hcal_control_Error { font-family : Verdana, Verdana, sans-serif;
	font-size : x-large;
	text-align : left;
	color: #F51D00;
	font-weight:bold;
}

.hcal_control_Supervisor { font-family : Verdana, Verdana, sans-serif;
	font-size : large;
	text-align : center;
	color: #F51D00;
	font-weight:bold;
}

.control_label1 {
	font-family: "Open Sans", sans-serif;
	color : black;
	font-size : small;
	text-align : left;
}

.control_label2 {
	font-family: "Open Sans", sans-serif;
	color : #666666;
	font-size : small;
	text-align : left;
}

.control_label3{
	font-family: "Open Sans", sans-serif;
	color : #000099;
	font-size : small;
	text-align : left;
}

.control_label4{
	font-family: "Open Sans", sans-serif;
	color : black;
	font-size : large;
	text-align : left;
}

.control_button1 {
	font-family: "Open Sans", sans-serif;
	color : black;
	font-size : small;
	text-align : center;
}


.tbl {display:none;}

.container{
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  display:inline-block;
  margin:0px 10px 5px 5px;
  vertical-align:top;
}
.progressbar {
  color: #fff;
  text-align: right;
  height: 25px;
  width: 0;
  background-color: #0ba1b5;
  border-radius: 3px;
}

ul {
  list-style-type: none;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

#newCFGSNIPPET_KEY_SELECTEDcheckbox input[type=checkbox],
#newRUN_CONFIG_SELECTEDcheckbox input[type=checkbox],
#newMASKED_RESOURCEScheckbox input[type=checkbox]{
	visibility: hidden;
}
#masked_resourses_td{
	display: none;
}
table {
  background-color: fdfdfd;
}
#hcalmaintable {
  background-color: fdfdfd;
  border: 0px solid black;
}
#FMPilotForm {
  background-color: fdfdfd;
  border: 0px solid black;
  display: inline!important;
}
#hcalmaintable > input { 
  width: 450px;
}
#sidebar {
  width: 13%;
  background-color: #283948;
  font-family: "Open Sans",sans-serif;
}

.menuLinkEnabled > a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  text-decoration: none;
  padding-left: 10px;
} 
#sidebar > a {
  color: rgba(255, 255, 255, 0.7);
}
.menuLinkDisabled{
  display: none;
} 
.header {
  background-color: #3a5165;
  color: #DDDDDD;
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
}
a.header {
  text-decoration: none;
  color: #DDDDDD;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
td {
  border: 0px solid black;
}
td.header {
  padding-right: 20px;
}
td.header > p {
  padding: 0;
  margin: 3;
}
#footer {
  background-color: #3a5165;
  color: #DDDDDD;
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  padding-left: 10px;
}
a {
  text-decoration: none;
  color: #DDDDDD;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
#hostport {
  font-size: 8px;
}
#hcaltitle {
  font-size: 28px;
  padding-left: 120px;
}
body {
  display: inline;
  background-color: #3a5165;
}
#logospot img {
  width: 90px;
  padding-top: 8px;
  padding-bottom: 3px;
}
